<h1><a href="/">HostYoPages !</a></h1>
<form method="POST" action="/logout"><button>Logout</button></form>
<h4><a href="/route">New Page</a></h4>
<span>Name: <%= userName%></span>
<ul>
	<% for (let i = userPages.length - 1; i >= 0 ; i--) { %>
	<li>
			<div>
					<h3><%= userPages[i].business %></h3>
					<a href="/<%= userPages[i].id %>">View</a>
					<a href="/route/<%= userPages[i].id %>">Edit</a>
			</div>
	</li>
	<% } %>
</ul>
<!-- Your Pages -->