<form method="POST" action="/login">
	<input name="email" type="email" max="128" placeholder="Email address" required />
	<input name="password" type="password" min="4" max="32" placeholder="Your password" required />
	<button>Login</button>
</form>
<a href="/register">Register</a>