<h1>
	Tell us about your Business
</h1>
<form name="form1" method="POST" action="/route">
	<table>
		<tr>
			<td>Business name</td>
			<td><input type="text" name="bname" required></td>
		</tr>
		<tr>
			<td>Owner name</td>
			<td><input type="text" name="uname" required></td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: center;"><input type="submit" value="Save"></td>
		</tr>
	</table>
</form>
<% if(pageID!=null){ %>
	<div> Page Link: <a href="/<%= pageID %>"><%= pageID %></a></div>
<%}%>